<h1>Users</h1>

<ul>
  <li *ngFor="let user of users$">
      {{ user.firstName }}
      {{ user.lastName }}
      {{ user.emailAddress }}
      {{ user.id }}
    <button class="btn btn">

    </button>
    <div>
      <input type="text" name="First Name" [(ngModel)]="firstName">
      <input type="text" name="Family Name" [(ngModel)]="lastName">
      <input type="text" name="Email Address" [(ngModel)]="emailAddress">
      <button (click)="updateUser(user.id)" type="submit">Update</button>
    </div>
  </li>
      <input type="text" name="First Name" [(ngModel)]="firstName">
      <input type="text" name="Family Name" [(ngModel)]="lastName">
      <input type="text" name="Email Address" [(ngModel)]="emailAddress">
      <button (click)="createUser()" type="submit">Save</button>
</ul>
